<?xml version='1.0' encoding='utf-8'?>
<widget id="com.intelect.distribution" version="0.0.9" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Intelect</name>
    <description>
        Intelect Distribution App 
    </description>
    <author email="support@Intelect.co.il" href="http://Intelect.co.il/">
      Intelect.co.il
    </author>

    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="*" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="scheme" value="app" />
    <preference name="hostname" value="localhost" />

    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <feature name="Camera">
        <param name="ios-package" value="CDVCamera" />
    </feature>
    <feature name="Camera">
        <param name="android-package" value="org.apache.cordova.camera.CameraLauncher" />
    </feature>
    <preference name="CordovaWebViewEngine" value="CDVUIWebViewEngine" />
    <edit-config target="NSCameraUsageDescription" file="*-Info.plist" mode="merge">
        <string>To scan barcodes</string>
    </edit-config>
</widget>
